/*Index.css*/

/*general body styles*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #00A3FF; /*the default background colour*/
  font-family: "Poppins-Medium", sans-serif;
  transition: background-color 0.55s ease; /*smooth transition when changing background colour*/
}

/*scrollbar stles*/

body::-webkit-scrollbar { /*hides the scrollbar*/
  width: 0;
}

/*dark mode styles*/

body.dark-mode {
  background: #2c3e50; /*dark mode colour*/
  transition: background-color 0.55s ease;
}

/*valid location text container styles*/

.valid-location {
  text-align: center;
  padding: 20px; 
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px; /*rounded corners*/
  color: white;
  font-size: 30px;
  width: 36%;
  position: absolute;
  top: 50%; /*centering vertically and horizontally*/
  left: 50%;
  transform: translate(-50%, -50%); /*to be able to properly center the container*/
}

/*view button styles*/

.view-button{
  cursor: pointer;
  border: none;
  border-radius: 30px;
  outline: none;
  height: 60px;
  width: 135px;
  font-family: 'Poppins', sans-serif;
  font-size: 18.5px;
}


/*slider button styles*/

.slider-checkbox {
  opacity: 0;   /*hides the default checkbox*/
  width: 0;
  height: 0;
}

.slider-label {
  position: fixed;  /*so the slider is independent of other elements*/
  top: 20px;  
  right: 20px; 
  cursor: pointer;
  text-indent: -9999px; /*gets rid of text*/
  width: 50px; 
  height: 25px; 
  background-color: #ccc;
  border-radius: 25px;
}

.slider-label:before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 17px; 
  width: 17px; 
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider-checkbox:checked + .slider-label:before {
  transform: translateX(26px); /*moves the handle to the right*/
}

.slider-label:hover:before {
  background-color: #d4d4d4; /*turns light grey when hovering over*/
}