/* Weather.css */
.weather-container{
  margin-left: auto;
  margin-right: auto;
}

.search-container {
    margin-top: 5vh;
    width: 650px;
    height: 64px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px; /* Padding inside the search container */
}

.search-input {
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    border: none;
    background: transparent;
    color: rgba(219, 215, 215, 0.75);
    width: 80%; /* Adjust as needed */
}

.search-button {
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    border: none;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

.search-input::placeholder {
    color: rgba(219, 215, 215, 0.75);
}

.search-input:focus {
    outline: none;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px; /* Adjust the width as per your design needs */
  margin: 1rem auto 1rem auto; /* This centers the box horizontally */
  height: 350px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 90px;
  color: #FFFFFF;
  padding: 20px;
  box-sizing: border-box;
  transition : all 0.5s ease-in-out; /* Smooth transition for expanding the box */
  text-transform: capitalize;
}

.weatherInfo.expanded {
  height: 500px;
  width: 800px;
  
}

.container {
  display: flex;
  flex-direction: row; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center;
  width: 100%; /* Ensure container takes full width of its parent */
}
.container.expanded{
  width: 100%;
}
.primary {
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
  
.secondary {
  width: 0;
  overflow: hidden; 
  transition: all 0.5s ease-in-out;
  text-align: center;
  white-space: nowrap;
 
}

.weatherInfo.expanded .secondary {
  width: 180px;
  transition: all 0.5s ease-in-out;
  margin-right: 8rem;

}
.clothing-recommendation {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-family: 'Poppins', sans-serif; /* Consistent font family */
  box-sizing: border-box; /* Include padding and border in the width */
  text-align: center; /* Center the text */
  margin-left: auto;
  margin-right: auto;
}

.clothing-recommendation h2 {
  font-size: 24px; /* Decrease the font size as appropriate */
  margin-bottom: 15px; /* Add some space between the title and the content */
}

.clothing-recommendation p {
  font-size: 18px; 
}

h2 {
  width: auto;
  flex-shrink: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 300%;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  line-height: normal;
}

.primary-weather-icon{
  width: 191px;
  height: 178px;
  /* margin-right: 50px; */
}

.item-container {
  display: flex;
  flex-direction: column;
  /* margin-right: 50%; */
}

.tempItem, .descItem, .expanded-info{
  font-size: 16px;
  font-weight: bold;
}
