/*Weekly.css*/

.weekly {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    color: #FFFFFF;
    margin: 1rem auto;
    justify-content: center;      /*making the background fit*/
    padding: 1rem 2rem 1rem 2rem ;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}