.weekly {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 90px;
    color: #FFFFFF;
    margin: 1rem auto;
    /* makes the background fit  */
    width: 50%;
    justify-content: center;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}