.weekly {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 90px;
    color: #FFFFFF;
    margin: 1rem auto;
    /* makes the background fit  */
    width: 50%; /*can it be changed to 80 to match the figma?*/
    justify-content: center;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Change AM*/
/* Styles for individual items within the .weekly container */
.weekly div {
    flex: 1; /* Distribute space equally among items */
    text-align: center; /* Center text horizontally */
}
